body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.chat-box {
    background-color: #222;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
}

h1 {
    text-align: center;
}

.messages {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 96%;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
#con{
    margin-left: 50px;
}
select{
    padding: 7px 7px;
}


button {
    width: 8vw;
    height: 4vh;
    margin-top: 20px;
    background-color: #444;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgba(68, 68, 68, 0.68);
}