<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to CareChat</title>
    <link rel="icon" href="../static/images/logo.ico" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to CareChat</h1>
        <div class="chat-box">
            <div class="messages">
                <!-- Messages will be displayed here -->
            </div>
            <form id="chat-form">
                <input type="text" id="message-input" placeholder="Type your message..." />
                <span id="sev">
                    <label for="severity">Severity :</label>
                    <select name="severity" id="severity">
                        <option value="low">Low</option>
                        <option value="low">Mild</option>
                        <option value="extreme">Extreme</option>
                    </select>
                </span>
                <span id="con">
                    <label for="condition">Condition :</label>
                    <select name="condition" id="condition">
                        <option value="cough">Cough</option>
                        <option value="sneeze">Sneezing</option>
                        <option value="fever">Fever</option>
                        <option value="cold">Cold</option>
                    </select>
                </span>
                <br>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>