<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
    <title>CareChat</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="chat-container">
            <div class="chat-header">
                <h2>CareChat</h2>
            </div>
            <div class="chat-body" id="chat-body">
                <center>Welcome to CareChat! We're here to listen, assist, and provide guidance on your health journey. Feel free to ask any questions or share your concerns.Let's chat and work together towards your well-being!</center>
                {%for i in label%}
                <div class="message outgoing">
                    <div class="message-content">
                        <p>{{i[0]}}</p>
                        <span class="message-time">10:30 AM</span>
                    </div>
                </div>
                <div class="message incoming">
                    <div class="message-content">
                        <p>{{i[1]}}</p>
                        <span class="message-time">10:35 AM</span>
                    </div>
                </div>
                {%endfor%}
            </div>
            <script>
                var chatBox = document.getElementById("chat-body");
                chatBox.scrollTop = chatBox.scrollHeight;
            </script>
            
            <div class="chat-footer">
                <form action="/result" method="POST">
                    <div class="form-group" style="display: flex;">
                        <div>
                            <select name="condition" id="health-condition">
                                <option value="" selected disabled>Select Health Condition</option>
                                <option value="Headache">Headache</option>
                                <option value="Fatigue">Fatigue</option>
                                <option value="Nausea">Nausea</option>
                                <option value="Dizziness">Dizziness</option>
                                <option value="Shortness of breath">Shortness of breath</option>
                                <option value="Chest Pain">Chest pain</option>
                                <option value="Abdominal Pain">Abdominal pain</option>
                                <option value="Joint Pain">Joint pain</option>
                                <option value="Muscle weakness">Muscle weakness</option>
                                <option value="Difficulty sleeping">Difficulty sleeping</option>
                            </select>
                        </div>
                        <div>
                            <select name="severity" id="severity">
                                <option value="" selected disabled>Select Severity</option>
                                <option value="low">Low</option>
                                <option value="medium">Medium</option>
                                <option value="high">High</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="display: flex;">
                        <input type="text" name="message" placeholder="Type your message..." />
                        <button type="submit">Send</button>
                    </div>
                    <div class="form-group" >
                        <audio id="audio-player" controls autoplay style="display: none;">
                            <source src="../static/test.mp3" type="audio/mp3">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
